body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    
}


#canvas{
    background: url("building_PNG24560.png");
    background-color: #987EAF;
}